[submodule "StepStone-fuzzer"]
	path = StepStone-fuzzer
	url = https://github.com/hydecnc/StepStone-fuzzer.git
[submodule "open-gpu-kernel-modules"]
	path = open-gpu-kernel-modules
	url = https://github.com/hydecnc/open-gpu-kernel-modules.git
